<%= render :partial => 'forem/forums/head', :locals => { :forum => @topic.forum } %>

<h3 class="new-topic"><%= t("forem.post.edit", :post => @forem_post) %></h3>

<%= simple_form_for [forem, @topic.forum, @topic, @forem_post] do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <%= f.submit t("forem.post.buttons.edit"), :class => "btn btn-primary" %>
<% end %>
