<%= render :partial => 'forem/forums/head', :locals => { :forum => @topic.forum } %>

<h3 class="reply-to-post"><%= t("forem.post.new") %> <em><%= @topic.subject %></em></h3>

<% if @reply_to_post %>
  <%= render 'reply_to_post', :post => @reply_to_post %>
<% end %>

<%= simple_form_for [forem, @topic.forum, @topic, @forem_post] do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <%= f.submit t("forem.post.buttons.reply"), :class => "btn btn-primary" %>
<% end %>